.prices__images {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    min-width: 300px;
    &-item {
        width: 140px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 7px;
        box-sizing: border-box;
        &-bg {
            @include cloudBg;
        }
        &-img {
            height: 70px;
        }
        &-descr {
            padding-top: 30px;
            font-size: 15px;
        }
    }
}

@media (max-width: 768px) {
    .prices__images {
        text-align: center;
        padding: 0px;
    }
} ;
