.free-features {
    padding-left: 50px;
    color: $titlesColor;
    text-transform: uppercase;
    &-img-clouds {
        width: calc(100% + 20px);
        height: auto;
        margin-left: -10px;
    }
    &-title {
        text-align: start;
        max-width: 260px;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        position: relative;
        margin: 0 auto 36px;
        &::before {
            content: "";
            background-image: url("../../assets/images/grass-aside.png");
            position: absolute;
            top: -42px;
            left: 0px;
            width: 37px;
            height: 63px;
        }
    }
    &-item {
        max-width: 470px;
        font-weight: 600;
        margin-bottom: 30px;
        padding: 20px 25px;
        font-size: 18px;
        box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        background-color: #ffffff;
        &:first-of-type {
            padding-top: 45px;
        }
    }
}

@media (max-width: 1140px) {
    .free-features {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-title {
            &-img {
                &-clouds {
                    margin-top: 30px;
                }
            }
        }
        &-item {
            max-width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .free-features {
        &-item {
            font-size: 14px;
            font-weight: 400;
        }
    }
} ;
